:root {
  --primary-color: hsl(180, 100%, 25%);
  --primary-color-light: hsl(180, 40%, 70%);
  --elm-1: hsl(0, 100%, 27%);
  --elm-2: hsl(33, 100%, 50%);
  --elm-3: hsl(276, 60%, 45%);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.options-container {
  padding: 10px 20px;
  border: 5px solid black;
  margin-block: 50px 20px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  gap: 32px;
}

.input-field {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-start;
}

.bar-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 5px;
  height: 500px;
  min-width: 200px;
  padding: 20px 50px;
  border: 5px solid black;
  position: relative;
}

.step-counter {
  width: 70px;
  height: 50px;
  border: 1px solid black;

  position: absolute;
  top: 10px;
  left: 10px;

  line-height: 50px;
}

.bar {
  background-color: var(--primary-color);
  border: 2px solid black;
  width: 20px;

  position: relative;

  /* transition: background-color 0.2s ease-in; */
}

.bar.main {
  background-color: var(--elm-1);
}

.bar.secondary {
  background-color: var(--elm-2);
}

.bar.tertiary {
  background-color: var(--elm-3);
}

.bar.section-start::before {
  content: '';
  height: 420px;
  width: 2px;
  background-color: black;
  position: absolute;
  bottom: 0;
  left: -2px;
}

.bar.section-end::after {
  content: '';
  height: 420px;
  width: 2px;
  background-color: black;
  position: absolute;
  bottom: 0;
  right: -2px;
}

.spinner-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
	width: 170px;
	height: 170px;
	border: 10px solid var(--primary-color);
	border-radius: 50%;
	border-top-color: var(--primary-color-light);
	animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
	to {
		transform: rotate(360deg);
	}
}
